* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #04162f, #062a4d);
    color: #ffffff;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background: #020f23;
}

.logo {
    width: 50px;
    height: auto;
}

h1 {
    margin: 0;
    color: #9fd0ff;
}

/* STATUS */
.status {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.status.normal {
    background: #0c5;
}

.status.warning {
    background: #c0392b;
}

/* BUTTON */
.center {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #1e90ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0d6efd;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: rgba(255,255,255,0.08);
    width: 220px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.card h3 {
    margin-bottom: 15px;
    color: #8ecbff;
}

.card p {
    font-size: 32px;
    margin: 0;
}

/* CHART */
.chart-box {
    width: 95%;
    max-width: 1100px;
    margin: 30px auto;
    background: rgba(255,255,255,0.06);
    padding: 20px;
    border-radius: 15px;
}

.chart-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #a8d8ff;
}
.chart-box {
    width: 100%;
    height: 400px;   /* WAJIB */
}

.table-box {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #2196f3;
  color: white;
}


