body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

header {
    background: #0d47a1;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    text-align: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 25px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    margin-top: 40px;
    text-align: center;
    background: #ddd;
    padding: 10px;
}
