body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #2196F3;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 30px;
    text-align: center;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    background: #ddd;
}
